/**************/
/* CONTAINERS */
/**************/

.resume {
    height: 930px;
}

.resume p {
    margin-bottom: 16px;
}

embed {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .resume {
        height: 100vh;
        max-height: 80vh;
        margin-bottom: 96px;
    }
}