/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET ^ */

/********/
/* HTML */
/********/
html {
	scroll-behavior: smooth;
}

/**********/
/* COLORS */
/**********/

:root {
	--bg: #111111;
	--bg2: #FAF9F6;
	--color: #76e5fc;
	--colorShade: #4BC0d9;
	--color2: #9dACFF;
	--color2Shade: #6cae75;
	--color2Dark: #1a35cf;
	--color2ShadeDark: #0d801c;
}

/**************/
/* CONTAINERS */
/**************/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

header {
	position: sticky;
	top: 0px;
	background-color: var(--bg);
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header ul,
.nav-right,
.nav-left {
    display: flex;
	gap: 12px;
	padding: 0 12px;
}

.nav-right {
    margin-left: auto;
}

#about {
	scroll-margin-top: 10vh;
}

.subpage-main,
.non-title-main {
	max-width: 960px;
	margin: auto;
	padding: 128px;
}

footer {
	display: flex;
	justify-content: center;
	padding: 24px;
	margin-bottom: 0;
}

.EmptyBottomDiv {
	padding: 12.5vh;
}

/*********/
/* FONTS */
/*********/
body {
	font-family: 'Open Sans', sans-serif;
	background-color: var(--bg2)
	//background-color: red;

}

a {
	text-decoration: none;
	color: var(--color2);
}

.non-hero-main a,
.subpage-main a {
	color: var(--color2Dark);
}

a:hover {
	color: var(--color2Shade);
}


.non-hero-main a:hover,
.subpage-main a:hover {
	color: var(--color2ShadeDark);
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

footer {
	text-align: center;
	line-height: 1.25rem;
}

footer em {
	font-style: italic;
}

footer a {
	color: var(--color2ShadeDark);
}

footer a:hover {
	color: var(--color2Dark);
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media only screen and (max-width: 600px) {
	.nav-left,
	.nav-right {
		flex-direction: column;
		justify-content: center;
		gap: 4px;
	}

	.nav-right {
		font-size: 0.8rem;
	}

	.subpage-main,
	.non-title-main {
		padding: 24px;
	}
}


/************************/
/* SUBPAGE SPECIFIC CSS */
/************************/

/* CONTAINERS */

.subpage-main h1 {
    margin-bottom: 24px;
}

.subpage-main p,
.subpage-main h2,
.subpage-main li
{
    margin-bottom: 8px;
}

.subpage-main header li {
    margin-bottom: 0px;
}

/* FONTS */

.subpage-main h1 {
    font-size: 3rem;
}

/*************************/
/* BLOGPAGE SPECIFIC CSS */
/*************************/

.blogpage article {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
}

.blogpage p.blog-post-text-content {
    width: 90%;
    align-self: center;
}

/***********************/
/* RESUME SPECIFIC CSS */
/***********************/

/* CONTAINERS */

.resumepage .resume {
    height: 930px;
}

.resumepage .resume p {
    margin-bottom: 16px;
}

.resumepage embed {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .resumepage .resume {
        height: 100vh;
        max-height: 80vh;
        margin-bottom: 96px;
    }
}
