/**********/
/* COLORS */
/**********/

:root {
	--bg: #111111;
	--bg2: #FAF9F6;
	--color: #76e5fc;
	--colorShade: #4BC0d9;
	--color2: #9dACFF;
	--color2Shade: #6cae75;
	--color2Dark: #1a35cf;
	--color2ShadeDark: #0d801c;
}

/**************/
/* CONTAINERS */
/**************/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

header {
	position: sticky;
	top: 0px;
	background-color: var(--bg);
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header ul,
.nav-right,
.nav-left {
    display: flex;
	gap: 12px;
	padding: 0 12px;
}

.nav-right {
    margin-left: auto;
}

#about {
	scroll-margin-top: 10vh;
}

.subpage-main,
.non-title-main {
	max-width: 960px;
	margin: auto;
	padding: 128px;
}

footer {
	display: flex;
	justify-content: center;
	padding: 24px;
	margin-bottom: 0;
}

/*********/
/* FONTS */
/*********/
body {
	font-family: 'Open Sans', sans-serif;
	background-color: var(--bg2)
}

a {
	text-decoration: none;
	color: var(--color2);
}

.non-hero-main a,
.subpage-main a {
	color: var(--color2Dark);
}

a:hover {
	color: var(--color2Shade);
}


.non-hero-main a:hover,
.subpage-main a:hover {
	color: var(--color2ShadeDark);
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

footer a {
	color: var(--color2ShadeDark);
}

footer a:hover {
	color: var(--color2Dark);
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media only screen and (max-width: 600px) {
	.nav-left,
	.nav-right {
		flex-direction: column;
		justify-content: center;
		gap: 4px;
	}

	.nav-right {
		font-size: 0.8rem;
	}

	.subpage-main,
	.non-title-main {
		padding: 24px;
	}
}